<!-- This link is needed for the browser to download the PDF -->
<!-- More info https://www.illucit.com/en/angular/angular-5-httpclient-file-download-with-authentication/ -->
<a style="display: none" #downloadPdfLink></a>

<div class="container">
  <h1>Mijn ritten</h1>
  <div class="content" style="width: 85%">

    <mat-accordion *ngIf="this.payments.length > 0">
      <div *ngFor="let payment of this.payments">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{ payment.month }} {{ payment.year }}</b>
            </mat-panel-title>
            <mat-panel-description>
              <div *ngIf="payment.isPaid">
                <i>Factuur betaald</i>
              </div>
              <div *ngIf="!payment.isPaid">
                <b style="color:black">Factuur onbetaald</b>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-accordion>
            <div *ngFor="let vehicleInvoice of payment.invoice.vehicleInvoices">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ vehicleInvoice.vehicle.displayName }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ vehicleInvoice.vehicle.licensePlate }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="invoicelines-regional">
                  <h3>Regional Invoice Lines</h3>
                  <table mat-table [dataSource]="vehicleInvoice.regionalInvoiceLines" class="mat-elevation-z1">
                    <ng-container matColumnDef="region">
                      <th mat-header-cell *matHeaderCellDef>Region</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.region }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="registrationMoment">
                      <th mat-header-cell *matHeaderCellDef>
                        registrationMoment
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.registrationMoment | date: "medium" }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="regionalPriceBeforeTaxes">
                      <th mat-header-cell *matHeaderCellDef>
                        Regional price before taxes
                      </th>
                      <td mat-cell *matCellDef="let element">
                        € {{ element.regionalPriceBeforeTaxes }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="accountedPriceBeforeTaxes" class="mat-column-align-right">
                      <th mat-header-cell *matHeaderCellDef>
                        Accounted price before taxes
                      </th>
                      <td mat-cell *matCellDef="let element">
                        € {{ element.accountedPriceBeforeTaxes }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="[
                        'region',
                        'registrationMoment',
                        'regionalPriceBeforeTaxes',
                        'accountedPriceBeforeTaxes'
                      ]"></tr>
                    <tr mat-row *matRowDef="
                        let row;
                        columns: [
                          'region',
                          'registrationMoment',
                          'regionalPriceBeforeTaxes',
                          'accountedPriceBeforeTaxes'
                        ]
                      "></tr>
                  </table>
                </div>

                <div class="invoicelines-kilometer">
                  <h3>Kilometer Invoice Lines</h3>
                  <table mat-table [dataSource]="vehicleInvoice.kilometerInvoiceLines" class="mat-elevation-z1">
                    <ng-container matColumnDef="roadType">
                      <th mat-header-cell *matHeaderCellDef>Roadtype</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.roadType }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="drivenDistanceInMeters">
                      <th mat-header-cell *matHeaderCellDef>
                        Driven distance in meters
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.drivenDistanceInMeters }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="pricePerKilometerBeforeTaxes">
                      <th mat-header-cell *matHeaderCellDef>
                        Price per kilometer
                      </th>
                      <td mat-cell *matCellDef="let element">
                        € {{ element.pricePerKilometerBeforeTaxes }}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="[
                        'roadType',
                        'drivenDistanceInMeters',
                        'pricePerKilometerBeforeTaxes'
                      ]"></tr>
                    <tr mat-row *matRowDef="
                        let row;
                        columns: [
                          'roadType',
                          'drivenDistanceInMeters',
                          'pricePerKilometerBeforeTaxes'
                        ]
                      "></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
          <mat-action-row>
            <button mat-raised-button color="accent" (click)="this.getPdfFile(invoice)">
              Download PDF
            </button>
            <button class="button-pay" mat-raised-button color="primary" (click)="this.initiateInvoicePayment(payment)"
              [disabled]="payment.isPaid">
              Pay
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>

  <div *ngIf="this.payments.length == 0">
    <mat-spinner></mat-spinner>
  </div>
</div>