<div class="container">
  <h1>Mijn ritten</h1>
  <div class="content" style="width: 85%" *ngIf="this.invoiceCards.length > 0">
    <mat-accordion>
      <div *ngFor="let invoiceCard of this.invoiceCards">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>{{ invoiceCard.month | date: "MMMM" }}
                {{ invoiceCard.year }}</b>
            </mat-panel-title>
            <mat-panel-description>
              <div *ngIf="invoiceCard.invoice.payment.isPaid">
                <i>Factuur betaald</i>
              </div>
              <div *ngIf="!invoiceCard.invoice.payment.isPaid">
                <b style="color:black">Factuur onbetaald</b>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-accordion>
            <div *ngFor="let car of invoiceCard.invoice.cars">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ car.brand| titlecase }} {{ car.series| titlecase }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ car.licensePlateNumber }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="table-car-drivensteps">
                  <table mat-table [dataSource]="car.drivenSteps" class="mat-elevation-z1">

                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>Straatnaame</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.location.name }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>Totaal</td>
                    </ng-container>

                    <ng-container matColumnDef="distance">
                      <th mat-header-cell *matHeaderCellDef>
                        Gereden meters
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.distance }}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>{{this.calculateTotalCarDistance(car.drivenSteps)}}</td>
                    </ng-container>

                    <ng-container matColumnDef="priceToPay">
                      <th mat-header-cell *matHeaderCellDef>
                        Prijs
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.priceToPay| currency:'EUR'}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef>{{this.calculateTotalCarCost(car.drivenSteps)| currency:'EUR'}}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['name', 'distance', 'priceToPay']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['name', 'distance', 'priceToPay']"></tr>
                    <tr mat-footer-row *matFooterRowDef="['name', 'distance', 'priceToPay']"></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-accordion>
          <mat-action-row>
            <button mat-raised-button color="accent" (click)="this.getPdfFile(invoiceCard)">
              Download PDF
            </button>
            <app-paypal-button [amountToPay]="100" (paymentProcessed)="this.paymentProcessed($event)">
            </app-paypal-button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>

  <div *ngIf="this.invoiceCards.length == 0">
    <mat-spinner></mat-spinner>
  </div>
</div>