<div class="container" *ngIf="this.invoice">
  <h1>Mijn facturen</h1>
  <div *ngFor="let vehicleInvoice of this.invoice.vehicleInvoices">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ vehicleInvoice.vehicle.displayName }}
          </mat-panel-title>
          <mat-panel-description>
            {{ vehicleInvoice.vehicle.licensePlate }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <table
          mat-table
          [dataSource]="vehicleInvoice.kilometerInvoiceLines"
          class="mat-elevation-z1"
        >
          <ng-container matColumnDef="roadType">
            <th mat-header-cell *matHeaderCellDef>Roadtype</th>
            <td mat-cell *matCellDef="let element">{{ element.roadType }}</td>
          </ng-container>

          <ng-container matColumnDef="drivenDistanceInMeters">
            <th mat-header-cell *matHeaderCellDef>Driven distance (m.)</th>
            <td mat-cell *matCellDef="let element">
              {{ element.drivenDistanceInMeters }}
            </td>
          </ng-container>

          <ng-container matColumnDef="pricePerKilometerBeforeTaxes">
            <th mat-header-cell *matHeaderCellDef>Price per km</th>
            <td mat-cell *matCellDef="let element">
              {{ element.pricePerKilometerBeforeTaxes }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'roadType',
              'drivenDistanceInMeters',
              'pricePerKilometerBeforeTaxes'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'roadType',
                'drivenDistanceInMeters',
                'pricePerKilometerBeforeTaxes'
              ]
            "
          ></tr>
        </table>

        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="initiateInvoicePayment(vehicleInvoice)"
          >
            Pay
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
