<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rekeningrijden - Bestuurdersportaal</span>
    <span class="spacer"></span>
    <mat-icon
      class="icon"
      aria-hidden="false"
      >fiber_new</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar> -->
<mat-toolbar color="primary">
  <mat-toolbar-row id="first-row">
    <img src="assets/logo-rijksoverheid.svg" alt="">
  </mat-toolbar-row>

  <mat-toolbar-row id="second-row">
    <span>Rekeningrijden - Bestuurdersportaal</span>
  </mat-toolbar-row>
</mat-toolbar>